<div style="width: 500px">
  <h1 mat-dialog-title>Add location</h1>
  <div mat-dialog-content>
    <div>
      <form [formGroup]="form" class="flex-container">
        <div fxLayout="column wrap" fxLayoutWrap>
          <div fxFlexOrder="1" fxFlex="50">

            <mat-form-field>
              <!-- style="width: 100%" -->
              <input formControlName="name" matInput placeholder="Name">
            </mat-form-field>
          </div>
        </div>
        <div>
          <mat-form-field fxFlexOrder="2" fxFlex="100">
            <input formControlName="number" matInput placeholder="Number">
          </mat-form-field>
        </div>
      </form>
    </div>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="submit()" tabindex="2">Submit</button>
    <button mat-button (click)="cancel()" tabindex="-1">Cancel</button>
  </div>
</div>